<div class="form" [attr.data-test-id]="testIds?.root ?? ''">
    <app-input
        class="input" 
        placeholder="email"
        type="email"
        [error]="emailErrorMessage"
        [value]="emailControl.value ?? ''"
        (onInput)="handleEmailChange($event)"
        [testId]="testIds?.emailInput ?? ''"
        [errorTestId]="testIds?.emailError ?? ''"
    ></app-input>
    <app-input
        class="input"
        placeholder="password"
        type="password"
        [error]="passwordErrorMessage"
        [value]="passwordControl.value ?? ''"
        (onInput)="handlePasswordChange($event)"
        [testId]="testIds?.passwordInput ?? ''"
        [errorTestId]="testIds?.passwordError ?? ''"
    ></app-input>
    <wired-button
        class="button"
        [disabled]="isButtonDisabled"
        (click)="handleSubmit()"
        [attr.data-test-id]="testIds?.submitButton ?? ''"
    >
        {{ buttonText }}
    </wired-button>
    <div class="hint">
        {{ hintText }}
        <wired-link
            [href]="href"
            [routerLink]="hintLinkHref"
            (click)="handleLinkClick($event)"
            class="hint-link"
            [attr.data-test-id]="testIds?.link ?? ''"
        >
            {{ hintLinkText }}
        </wired-link>
    </div>
</div>